site_name: Documentation Site - Khaleej vACC
site_url: https://docs.khaleejvacc.net

theme:
  name: material
  custom_dir: overrides
  logo: assets/logo.png
  favicon: assets/favicon.ico
  font: 
    text: Mulish
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.footer
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.tabs
    - navigation.path
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
extra:
  social:
    - icon: fontawesome/brands/instagram 
      link: https://www.instagram.com/khaleejvacc/
    - icon: fontawesome/brands/discord
      link: https://community.vatsim.net
    - icon: fontawesome/brands/twitch
      link: https://www.twitch.tv/khaleejvacc
    - icon: fontawesome/brands/github
      link: https://github.com/khaleej-vacc
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@KhaleejvACC
    

extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
plugins:
  - search


repo_url: https://github.com/khaleej-vacc/documentation-site
repo_name: VATSIM-khaleej-vacc/documentation-site

